
<br>
<div class="container">
    <h3 class="heading" style="text-align:center"><strong>Articles</strong></h3>
    <br>
    <div align="center">
        <%= will_paginate @article_list, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next" %> 
    </div>
    <% if @article_list.any? %>

        <%= render 'articles/article', obj:@article_list %>
    <% end %>
    <div align="center">
        <%= will_paginate @article_list, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next" %> 
    </div>
</div>


