
<br>
<div class="jumbotron container">
<h1 style="text-align:center">Articles</h1>
<% if @article_list.any? %>

    <% @article_list.each do |article| %>
        <p>
            <strong><%= article[:title] %></strong>
        </p>

        <p>
            <%= article[:description] %>
        <p>

        <p>
            <em>Created at: <%= article[:created_at]%></em>
        </p>
        <br>
    <% end %>
<% end %>
</div>
