<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="container" style="text-align:center">
      <h2>Welcome to this page</h2>
      <p>-----------------------------------------------------------------------</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
    <br>
    <div class="container" style="text-algin:left">
      <p>Go to our <%= link_to "about", about_path %> page for more information.</p>
      <p>Go to our <%= link_to "articles", articles_path %> page for the list of articles</p>
      <p><%= link_to "Create", new_article_path %> a new article</p>

    </div>
  </body>
</html>
