<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
  <br>
    <div class="container canvas">
      <% if !logged_in? %>
        <div align="center"</div>
          <%= link_to "Signup", signup_path, class:"btn btn-primary btn-lg", id:'signup' %>
        </div>
      <% end %>
    </div>
  <br>
</body>
</html>
